In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
df = pd.read_csv('movie_metadata.csv')
df1 = pd.read_csv('movie_dataset.csv')

In [3]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
df.shape

(5043, 28)

In [5]:
names = ['director_name','actor_1_name','actor_2_name','actor_3_name']

In [6]:
for name in names:
    df[name] = df[name].fillna('')

In [7]:
def replace_space(column):
    return df['column'].replace(' ','')

In [8]:
df['director_name'] = df['director_name'].replace(' ','')

In [9]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [10]:
df.shape

(5043, 28)

In [11]:
def replace_space(row, column1):
    return row[column1].replace(" ","")
    
for name1 in names:
    df[name1] = df.apply(replace_space, column1=name1, axis=1)

In [12]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,JamesCameron,723.0,178.0,0.0,855.0,JoelDavidMoore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,GoreVerbinski,302.0,169.0,563.0,1000.0,OrlandoBloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,SamMendes,602.0,148.0,0.0,161.0,RoryKinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,ChristopherNolan,813.0,164.0,22000.0,23000.0,ChristianBale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,DougWalker,NaN,NaN,131.0,NaN,RobWalker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [13]:
def func1(row):
    return row['genres'].replace("|"," ")
df['genres'] = df.apply(func1,axis=1)

In [14]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,JamesCameron,723.0,178.0,0.0,855.0,JoelDavidMoore,1000.0,760505847.0,Action Adventure Fantasy Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,GoreVerbinski,302.0,169.0,563.0,1000.0,OrlandoBloom,40000.0,309404152.0,Action Adventure Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,SamMendes,602.0,148.0,0.0,161.0,RoryKinnear,11000.0,200074175.0,Action Adventure Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,ChristopherNolan,813.0,164.0,22000.0,23000.0,ChristianBale,27000.0,448130642.0,Action Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,DougWalker,NaN,NaN,131.0,NaN,RobWalker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [15]:
df.iloc[0,9]

'Action Adventure Fantasy Sci-Fi'

In [16]:
df.shape

(5043, 28)

In [17]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [18]:
df['actor_1_name']

0           CCHPounder
1           JohnnyDepp
2       ChristophWaltz
3             TomHardy
4           DougWalker
             ...
5038        EricMabius
5039        NatalieZea
5040        EvaBoehnke
5041          AlanRuck
5042        JohnAugust
Name: actor_1_name, Length: 5043, dtype: object

In [19]:
df['actor_3_name']

0                  WesStudi
1             JackDavenport
2           StephanieSigman
3       JosephGordon-Levitt
4
               ...
5038            CrystalLowe
5039           SamUnderwood
5040          DavidChandler
5041             ElizaCoupe
5042                JonGunn
Name: actor_3_name, Length: 5043, dtype: object

In [20]:
df['movie_title']

0                                                 Avatar
1               Pirates of the Caribbean: At World's End
2                                                Spectre
3                                  The Dark Knight Rises
4       Star Wars: Episode VII - The Force Awakens    ...
                              ...
5038                             Signed Sealed Delivered
5039                           The Following
5040                                A Plague So Pleasant
5041                                    Shanghai Calling
5042                                   My Date with Drew
Name: movie_title, Length: 5043, dtype: object

In [21]:
df1.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [22]:
df1.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [23]:
def convert_lower(row1,col1):
    return row1[col1].lower()

for n in names:
    df[n] = df.apply(convert_lower,col1=n,axis=1)

In [24]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,jamescameron,723.0,178.0,0.0,855.0,joeldavidmoore,1000.0,760505847.0,Action Adventure Fantasy Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,goreverbinski,302.0,169.0,563.0,1000.0,orlandobloom,40000.0,309404152.0,Action Adventure Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,sammendes,602.0,148.0,0.0,161.0,rorykinnear,11000.0,200074175.0,Action Adventure Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,christophernolan,813.0,164.0,22000.0,23000.0,christianbale,27000.0,448130642.0,Action Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,dougwalker,NaN,NaN,131.0,NaN,robwalker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [25]:
df['movie_title'] = df.apply(convert_lower,col1='movie_title',axis=1)

In [26]:
#list(df['movie_title'])

In [27]:
df['movie_title'] = df['movie_title'][:-1]

In [28]:
#list(df['movie_title'])

In [29]:
type(df.iloc[0,11])

str

In [30]:
type(df['movie_title'])

pandas.core.series.Series

In [31]:
def title_modify(row):
    row['movie_title'] = str(row['movie_title'])
    return row['movie_title'][:-1]
df['movie_title'] = df.apply(title_modify,axis=1)

In [32]:
df.iloc[0,11]

'avatar'

In [33]:
#list(df['movie_title'])

In [34]:
df1['title']

0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
4798                                 El Mariachi
4799                                   Newlyweds
4800                   Signed, Sealed, Delivered
4801                            Shanghai Calling
4802                           My Date with Drew
Name: title, Length: 4803, dtype: object

In [35]:
df1['title'] = df1.apply(convert_lower,col1='title',axis=1)

In [36]:
df1['title']

0                                         avatar
1       pirates of the caribbean: at world's end
2                                        spectre
3                          the dark knight rises
4                                    john carter
                          ...
4798                                 el mariachi
4799                                   newlyweds
4800                   signed, sealed, delivered
4801                            shanghai calling
4802                           my date with drew
Name: title, Length: 4803, dtype: object

In [37]:
temp_df = df1[df1['title']==df.iloc[0,11]]
temp_df.iloc[0,5]

'culture clash future space war space colony society'

In [38]:
df1['keywords'] = df1['keywords'].fillna('')

In [39]:
keywords_list = []
for i in range(len(df['movie_title'])):
    try:
        t = df1[df1['title']==df.iloc[i,11]]
        t_str = t.iloc[0,5]
        keywords_list.append(t_str)
    except:
        keywords_list.append('')

In [40]:
len(df['movie_title'])

5043

In [41]:
df.shape

(5043, 28)

In [42]:
df1['keywords'].isna().sum()

0

In [43]:
#keywords_list

In [44]:
len(keywords_list)

5043

In [45]:
df['keywords'] = keywords_list

In [46]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,keywords
0,Color,jamescameron,723.0,178.0,0.0,855.0,joeldavidmoore,1000.0,760505847.0,Action Adventure Fantasy Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,culture clash future space war space colony so...
1,Color,goreverbinski,302.0,169.0,563.0,1000.0,orlandobloom,40000.0,309404152.0,Action Adventure Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,ocean drug abuse exotic island east india trad...
2,Color,sammendes,602.0,148.0,0.0,161.0,rorykinnear,11000.0,200074175.0,Action Adventure Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,spy based on novel secret agent sequel mi6
3,Color,christophernolan,813.0,164.0,22000.0,23000.0,christianbale,27000.0,448130642.0,Action Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,dc comics crime fighter terrorist secret ident...
4,NaN,dougwalker,NaN,NaN,131.0,NaN,robwalker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,

In [48]:
#df.iloc[5042,29]

In [49]:
df['keywords']

0       culture clash future space war space colony so...
1       ocean drug abuse exotic island east india trad...
2              spy based on novel secret agent sequel mi6
3       dc comics crime fighter terrorist secret ident...
4
                              ...
5038
5039
5040
5041
5042
Name: keywords, Length: 5043, dtype: object

In [50]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes', 'keywords'],
      dtype='object')

In [51]:
def combine(row):
    return row['director_name'] + " " + row['actor_1_name'] + " " + row['actor_2_name'] + " " + row['actor_3_name'] + " " + row['keywords'] + " " + row['genres']
df['combined_words'] = df.apply(combine,axis=1)

In [52]:
sample = 'tottenham'
sample[2:-1]

'ttenha'

In [53]:
len('\nName: keywords, dtype: object')

30

In [54]:
df['combined_words']

0       jamescameron cchpounder joeldavidmoore wesstud...
1       goreverbinski johnnydepp orlandobloom jackdave...
2       sammendes christophwaltz rorykinnear stephanie...
3       christophernolan tomhardy christianbale joseph...
4           dougwalker dougwalker robwalker   Documentary
                              ...
5038    scottsmith ericmabius daphnezuniga crystallowe...
5039     nataliezea valoriecurry samunderwood  Crime D...
5040    benjaminroberds evaboehnke maxwellmoody davidc...
5041    danielhsia alanruck danielhenney elizacoupe  C...
5042    jongunn johnaugust brianherzlinger jongunn  Do...
Name: combined_words, Length: 5043, dtype: object

In [55]:
cv = CountVectorizer()

In [56]:
word_matrix = cv.fit_transform(df['combined_words'])

In [57]:
word_matrix

<5043x13041 sparse matrix of type '<class 'numpy.int64'>'
	with 62252 stored elements in Compressed Sparse Row format>

In [58]:
similarity = cosine_similarity(word_matrix)

In [59]:
index_arr = []
c = 0
for j in range(5043):
    index_arr.append(c)
    c+=1
index_arr[-1]

5042

In [60]:
df['index'] = index_arr

In [61]:
df['index']

0          0
1          1
2          2
3          3
4          4
        ...
5038    5038
5039    5039
5040    5040
5041    5041
5042    5042
Name: index, Length: 5043, dtype: int64

In [62]:
def get_title(idx):
    return df[df.index==idx]['movie_title'].values[0]
def get_idx(title):
    return df[df.movie_title==title]['index'].values[0]

In [63]:
df[df['movie_title']=='the international']['index']

1005    1005
Name: index, dtype: int64

In [64]:
user_movie = 'american sniper'

In [65]:
mov_idx = get_idx(user_movie)
mov_idx

814

In [66]:
sim_movies = list(enumerate(similarity[mov_idx]))
len(sim_movies)

5043

In [67]:
sorted_sim_movies = sorted(sim_movies,key=lambda x:x[1],reverse=True)

In [68]:
a = 0
for movie in sorted_sim_movies:
    if(a==0):
        a+=1
        continue
    print(get_title(movie[0]))
    a+=1
    if(a>=20):
        break

lone survivor
ip man 3
queen of the mountains
the imitation game
son of god
free state of jones
spartacus: war of the damned
the messenger: the story of joan of arc
winnie mandela
antwone fisher
kill the messenger
jefferson in paris
airlift
flash of genius
waterloo
the greatest story ever told
the hurt locker
gandhi, my father
legend

In [69]:
movie_row = df[df['movie_title']==user_movie]
movie_row

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,keywords,combined_words,index
814,Color,clinteastwood,490.0,133.0,16000.0,318.0,leonardroberts,14000.0,350123553.0,Action Biography Drama History Thriller War,...,R,58800000.0,2014.0,962.0,7.3,2.35,112000,sniper biography iraq navy seal u.s. soldier,clinteastwood bradleycooper leonardroberts kei...,814

In [70]:
actor_list = []
actor_list.append(movie_row['actor_1_name'].values[0])
actor_list.append(movie_row['actor_2_name'].values[0])
actor_list

['bradleycooper', 'leonardroberts']

In [71]:
filter_df1 = df[(df['actor_1_name'] == actor_list[0]) | (df['actor_2_name'] == actor_list[0])]
filter_df2 = df[(df['actor_2_name'] == actor_list[1]) | (df['actor_1_name'] == actor_list[1])]

In [72]:
df.iloc[3320,11]

'red riding: in the year of our lord 1974'

In [73]:
actor1_list = []
for i in range(1,len(filter_df1)):
    sub = []
    sub.append(filter_df1.iloc[i,11])
    sub.append(filter_df1.iloc[i,25])
    actor1_list.append(sub)
actor1_sorted = sorted(actor1_list,key=lambda x:x[1],reverse=True)
if(len(actor1_sorted)>=4):
    actor1_top = actor1_sorted[0:4]
else:
    actor1_top = actor1_sorted
actor1_top

[['the hangover', 7.8],
 ['american sniper', 7.3],
 ['10 cloverfield lane', 7.3],
 ['the words', 7.1]]

In [74]:
actor2_list = []
for i in range(1,len(filter_df2)):
    sub = []
    sub.append(filter_df2.iloc[i,11])
    sub.append(filter_df2.iloc[i,25])
    actor2_list.append(sub)
actor2_sorted = sorted(actor2_list,key=lambda x:x[1],reverse=True)
if(len(actor2_sorted)>=4):
    actor2_top = actor2_sorted[0:4]
else:
    actor2_top = actor2_sorted
actor2_top

[['love jones', 7.4], ['drumline', 5.7]]

In [75]:
actor_combined = actor1_top+actor2_top

In [76]:
actor_combined

[['the hangover', 7.8],
 ['american sniper', 7.3],
 ['10 cloverfield lane', 7.3],
 ['the words', 7.1],
 ['love jones', 7.4],
 ['drumline', 5.7]]

In [77]:
print('Lead actors also appeared in:')
for i in range(len(actor_combined)):
    print(actor_combined[i][0])

Lead actors also appeared in:
the hangover
american sniper
10 cloverfield lane
the words
love jones
drumline